@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto+Mono&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Rubik&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;
}

aside {
    display: grid;
    height: 100%;
    gap: 30px;
    border-right: 2px solid grey;
}

aside .sidebar {
    display: grid;
    gap: 10px;
    grid-template-rows: 0.5fr 2fr 2fr;
}

aside .row-one {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #1C05B3;
}

aside .row-buttons {
    display: grid;
    gap: 25px;
}

aside .row-buttons .row-two,
aside .row-buttons .row-three,
aside .row-buttons .row-four {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

aside .row-buttons .row-two button,
aside .row-buttons .row-three button,
aside .row-buttons .row-four button {
    background-color: #fff;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    height: 32px;
    width: 200px;
    padding: 0 15px;
    transition: all .3s;
}

aside .row-buttons .row-two button:hover,
aside .row-buttons .row-three button:hover,
aside .row-buttons .row-four button:hover {
    border-color: #06f;
    color: #06f;
    transform: scale(1.05);
}

aside .row-buttons .row-two button:active,
aside .row-buttons .row-three button:active,
aside .row-buttons .row-four button:active {
    transform: scale(0.9);
}

.header-and-main {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 8fr;
}

.header-and-main header {
    position: relative;
    z-index: 0;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
}

.header-and-main main {
    background-color: #ECECEC;
}

.header-and-main header {
    display: grid;
    padding: 20px 40px;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
}

.header-and-main header .header-row-one {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 50px;
}

.header-and-main header .header-row-one .search-bar {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
}

.header-and-main header .header-row-one .search-bar input {
    width: 100%;
    min-width: 100px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: lightgray;
    padding-left: 15px;
}

.header-and-main header .header-row-one .search-bar input:focus {
    outline: none !important;
    border: 2px solid #1C05B3;
}

.header-and-main header .header-row-one img {
    height: 25px;
    width: 25px;
}

.header-and-main header .header-row-one .notif-dp-name {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

.header-and-main header .header-row-one .notif-dp-name img {
    height: 30px;
    width: 30px;
}

.header-and-main header .header-row-one .notif-dp-name img:nth-child(2) {
    border: 2px solid black;
    border-radius: 75px;
    height: 50px;
    width: 50px;
}

.header-and-main header .header-row-one .notif-dp-name p {
    font-size: 18px;
}

.header-and-main header .header-row-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-and-main header .header-row-two .dp-intro-name {
    display: flex;
    justify-content: left;
    align-items: center;  
    gap: 20px;
}

.header-and-main header .header-row-two .dp-intro-name img:nth-child(1)  {
    border: 2px solid black;
    border-radius: 75px;
    height: 80px;
    width: 80px;
}

.header-and-main header .header-row-two .new-upload-share {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-and-main header .header-row-two .new-upload-share button {
  background: #1C05B3;
  border-radius: 1000px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  border: 0;
  transition: all .3s;
  width: 150px;
}

.header-and-main header .header-row-two .new-upload-share button:hover {
    transform: scale(1.05);
}

.header-and-main header .header-row-two .new-upload-share button:active {
    transform: scale(0.9);
}

.header-and-main main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 40px 20px;
}

